/* body {
  background-color: blue;
  text-align: center;
  color: red;
}; */

#app {
  display: flex;
  flex-direction: column;
  color: red;
  align-items: center;
}

#text {
  display: flex;
  flex-direction: column;
  align-items: center;
}


video {
  display: block;
  border-radius: 12px;
}


.camView {
  position: relative;
  width: calc(100% - 20px);
  margin: 10px;
  border-radius: 12px;
  left: 385px;
}

.camView p {
  position: absolute;
  padding: 5px;
  background-color: rgba(255, 111, 0, 0.85);
  color: #FFF;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 25px;
  border-radius: 12px;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
  border-radius: 12px;
}

button {
  cursor: pointer;
}
